@import "tailwindcss";

:root {
  --primary: #137fec;
  --background-light: #f6f7f8;
  --background-dark: #101922;
  --border-radius-default: 0.25rem;
  --border-radius-full: 9999px;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
}

body {
  background-image: url("https://images.unsplash.com/photo-1550439062-609e1531270e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.dark body {
  background-image: url("https://images.unsplash.com/photo-1550439062-609e1531270e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
