@import "tailwindcss";

:root {
  --primary: #137fec;
  --background-light: #f6f7f8;
  --background-dark: #101922;
  --border-radius-default: 0.25rem;
  --border-radius-full: 9999px;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("https://images.unsplash.com/photo-1550439062-609e1531270e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.dark body {
  background-image: url("https://images.unsplash.com/photo-1550439062-609e1531270e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

@keyframes pulse-glow {
  0%,
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 2s infinite ease-in-out;
}

#mobile-menu {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

#mobile-menu.menu-open {
  max-height: 500px; /* Ajusta este valor si el contenido del menú es más grande */
  opacity: 1;
}
