---
import avatar from "../assets/experto-ciberseguridad-que-trabaja-tecnologia-luces-neon_23-2151645607.jpg";
---

<script>
  let menuOpen = false;

  function toggleMenu() {
    menuOpen = !menuOpen;
    const mobileMenu = document.getElementById("mobile-menu");
    if (mobileMenu) {
      if (menuOpen) {
        mobileMenu.classList.remove("menu-closed");
        mobileMenu.classList.add("menu-open");
      } else {
        mobileMenu.classList.remove("menu-open");
        mobileMenu.classList.add("menu-closed");
      }
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("menu-button");
    if (menuButton) {
      menuButton.addEventListener("click", toggleMenu);
    }

    const menuLinks = document.querySelectorAll("#mobile-menu a");
    menuLinks.forEach((link) => {
      link.addEventListener("click", () => {
        menuOpen = false;
        const mobileMenu = document.getElementById("mobile-menu");
        if (mobileMenu) {
          mobileMenu.classList.remove("menu-open");
          mobileMenu.classList.add("menu-closed");
        }
      });
    });
  });
</script>

<header
  class="sticky top-0 z-50 w-full border-b backdrop-blur-lg border-slate-800/50 bg-[#101922]/80"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center gap-4">
        <svg
          class="h-6 w-6 text-[#137fec]"
          fill="none"
          viewBox="0 0 48 48"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M24 0.757355L47.2426 24L24 47.2426L0.757355 24L24 0.757355ZM21 35.7574V12.2426L9.24264 24L21 35.7574Z"
            fill="currentColor"
            fill-rule="evenodd"></path>
        </svg>
        <h1 class="text-lg font-bold text-white">Carlos Pacheco Portfolio</h1>
      </div>
      <nav class="hidden items-center gap-8 md:flex">
        <a
          class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
          href="#about">About</a
        >
        <a
          class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
          href="#skills">Skills</a
        >
        <a
          class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
          href="#experience">Experience</a
        >
        <a
          class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
          href="#education">Education</a
        >
        <a
          class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
          href="#languages">Languages</a
        >
        <a href="#init">
          <img
            class="h-10 w-10 rounded-full bg-cover bg-center"
            src={avatar.src}
            alt="Avatar"
          />
        </a>
      </nav>
      <button id="menu-button" class="md:hidden">
        <span class="material-symbols-outlined"> menu </span>
      </button>
    </div>
  </div>
  <div
    id="mobile-menu"
    class="menu-closed md:hidden bg-[#101922]/80 border-t border-slate-800/50"
  >
    <nav class="flex flex-col items-center py-4 gap-4">
      <a
        class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
        href="#about">About</a
      >
      <a
        class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
        href="#skills">Skills</a
      >
      <a
        class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
        href="#experience">Experience</a
      >
      <a
        class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
        href="#education">Education</a
      >
      <a
        class="text-sm font-medium text-slate-300 hover:text-[#137fec]"
        href="#languages">Languages</a
      >
    </nav>
  </div>
</header>
