---
import avatar from "../assets/experto-ciberseguridad-que-trabaja-tecnologia-luces-neon_23-2151645607.jpg";
---

<header
  class="sticky top-0 z-50 w-full border-b backdrop-blur-lg border-slate-800/50 bg-[#101922]/80"
>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center gap-4">
        <svg
          class="h-6 w-6 text-primary"
          fill="none"
          viewBox="0 0 48 48"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            clip-rule="evenodd"
            d="M24 0.757355L47.2426 24L24 47.2426L0.757355 24L24 0.757355ZM21 35.7574V12.2426L9.24264 24L21 35.7574Z"
            fill="currentColor"
            fill-rule="evenodd"></path>
        </svg>
        <h1 class="text-lg font-bold text-slate-900 dark:text-white">
          Carlos Javier Portfolio
        </h1>
      </div>
      <nav class="hidden items-center gap-8 md:flex">
        <a
          class="text-sm font-medium text-slate-600 hover:text-primary dark:text-slate-300 dark:hover:text-primary"
          href="#">About</a
        >
        <a
          class="text-sm font-medium text-slate-600 hover:text-primary dark:text-slate-300 dark:hover:text-primary"
          href="#">Resume</a
        >
        <a
          class="text-sm font-medium text-slate-600 hover:text-primary dark:text-slate-300 dark:hover:text-primary"
          href="#">Projects</a
        >
        <a
          class="text-sm font-medium text-slate-600 hover:text-primary dark:text-slate-300 dark:hover:text-primary"
          href="#">Contact</a
        >
        <!-- <button
          class="rounded-full bg-slate-200 p-2 text-slate-600 hover:bg-slate-300 dark:bg-slate-800 dark:text-slate-300 dark:hover:bg-slate-700"
        >
          <span class="material-symbols-outlined"> language </span>
        </button> -->
        <img
          class="h-10 w-10 rounded-full bg-cover bg-center"
          src={avatar.src}
          alt="Avatar"
        />
      </nav>
    </div>
    <button class="md:hidden">
      <span class="material-symbols-outlined"> menu </span>
    </button>
  </div>
</header>
